#medicalcheck {
  max-width: 100%;
  width: 100%;
  #medicalcheck_mainvisual {
    background-image: url(../images/medicalcheck/medicalcheck.png);
  }
  #medical_from {
    padding: 100px 0;
    .medicalcheck {
      max-width: 100%;
      width: 100%;
      &__text {
        p {
          color: #000;
          font-size: 24px;
          margin-bottom: 24px;
          font-family: "Noto Serif JP", serif;
          text-align: center;
          font-weight: normal;
        }
        .anot {
                    font-size: 16px;
                    margin-bottom: 40px;
                  a {
                    font-size: 1em;
                  }
        }
      }

      &__from {
        width: 100%;
        .medicalcheck {
          width: 100%;
          &__box {
            width: 100%;
            padding-bottom: 80px;
            & > p {
              padding-bottom: 16px;
              color: #000;
              font-size: 24px;
              margin-bottom: 40px;
              font-family: "Noto Serif JP", serif;
              font-weight: normal;
              margin: 0;
              span {
                padding: 0 16px 0 0;
              }
            }
            small {
              padding-bottom: 24px;
              display: block;
            }
            dl {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              padding-bottom: 30px;
              margin: 0;
              @media only screen and (max-width: 1199px) {
                flex-wrap: wrap;
              }
              &:last-child {
                padding-bottom: 0;
              }
              &.full {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                dd,
                dt {
                  max-width: 100%;
                  width: 100%;
                  padding: 0;
                }
                dt {
                  padding-bottom: 24px;
                }
              }
              dt {
                max-width: 280px;
                width: 100%;
                padding-right: 40px;
                display: flex;
                align-items: center;
                @media only screen and (max-width: 1199px) {
                  max-width: 100%;
                  padding-bottom: 16px;
                }
                p {
                  color: #000;
                  font-size: 24px;
                  margin-bottom: 40px;
                  font-family: "Noto Serif JP", serif;
                  font-weight: normal;
                  margin: 0;
                  span {
                    padding: 0 16px 0 0;
                    &.required {
                      color: #ad8c38;
                      font-size: 15px;
                      padding: 0 0 0 16px;
                    }
                  }
                }
                .detail {
                  flex-shrink: 0;
                  & ~ p span {
                    display: block;
                  }
                }
              }
              dd {
                max-width: calc(100% - 280px);
                width: 100%;
                @media only screen and (max-width: 1199px) {
                  max-width: 100%;
                }
                input[type="text"],
                input[type="date"] {
                  max-width: 100%;
                  width: 100%;
                  height: 64px;
                  border: 1px solid #ad8c38;
                  padding: 8px;
                  &:focus {
                    outline: solid 1px #ad8c38;
                  }
                }
                textarea {
                  max-width: 100%;
                  width: 100%;
                  height: 200px;
                  border: 1px solid #ad8c38;
                  padding: 8px;
                  &:focus {
                    outline: solid 1px #ad8c38;
                  }
                }
                .wpcf7-radio {
                  max-width: 100%;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  @media only screen and (max-width: 991px) {
                    flex-direction: column;
                    align-items: flex-start;
                  }
                  .wpcf7-list-item {
                    display: flex;
                    align-items: center;
                    padding-right: 40px;
                    margin: 0;
                    @media only screen and (max-width: 991px) {
                      padding: 0 0 16px 0;
                    }
                    &:last-child {
                      padding-right: 0;
                    }
                    input[type="radio"] {
                      width: 24px;
                      height: 24px;
                      accent-color: #ad8c38;
                    }
                    span {
                      padding-left: 16px;
                      font-size: 18px;
                      line-height: 1.2em;
                    }
                  }
                }
              }
            }
            .twocolumn {
              max-width: 100%;
              width: 100%;
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              padding-bottom: 24px;
              @media only screen and (max-width: 575px) {
                flex-direction: column;
                align-items: flex-start;
              }
              dl {
                max-width: calc(50% - 20px);
                width: 100%;
              }
            }
          }
        }
        .medicalpolicy {
          max-width: 100%;
          width: 100%;
          padding: 40px;
          background-color: #f6f4ed;
          &__inner {
            width: 100%;
            height: 280px;
            overflow-y: scroll;
            padding-right: 16px;
            &::-webkit-scrollbar {
              width: 8px;
            }
            &::-webkit-scrollbar-thumb {
              background: #ad8c38;
              width: 6px;
              border-radius: 5px;
            }
            p {
              padding-bottom: 16px;
              font-size: 18px;
            }
          }
          .wpcf7-acceptance {
            span.wpcf7-list-item {
              display: block;
              width: 100%;
              margin: 0;
              padding: 24px 0 0 0;
              label {
                display: flex;
                justify-content: center;
                align-items: center;
                input[type="checkbox"] {
                  width: 22px;
                  height: 22px;
                  position: relative;
                  z-index: 10;
                  &::after {
                    content: "";
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    border: 1px solid #ad8c38;
                    background-color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transition: 0.5s;
                  }
                  &:checked {
                    &::after {
                      content: "";
                      background-color: #ad8c38;
                      transition: 0.5s;
                    }
                  }
                }
                span {
                  padding-left: 16px;
                  font-size: 18px;
                }
              }
            }
          }
        }
        .wpcf7-submit {
          max-width: 500px;
          width: 100%;
          height: 70px;
          background-color: #ad8c38;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          margin: 0 auto;
          margin-top: 40px;
        }
      }
    }
  }
}
