$base: #2d2e2e;
$demibase: #6a6a6a;
$second: #c4b379;
$demisecond: #6287bc;
$secondhalf: #e7ecf4;
$third: #f4ede6;
$fourth: #f8f8f8;
$fifth: #d1e8c9;
$sixth: #e1edf1;
$eighth: #ba9964;
$nineth: #87bf9e;
$tenth: #ba9964;
$eleventh: #dde9ed;
$twelveth: #abaaaa;

#hidden_nav_bg {
  ul.site-header {
  }
}

main#news_list {
  section#news_list_main_visual {
    background-image: url(../images/news-list/news-list01.png);
  }
  section#list-col {
    padding: 100px 0;
    .archive-area {
      .archive-part-wrap {
        padding-top: 100px;
        margin-top: -100px;

        @media only screen and (max-width: 767px) {
          padding-top: 0px;
          margin-top: 0px;
        }
      }
      .archive-part {
        margin-bottom: 70px;
        .all-data {
          margin-bottom: 20px;
          border-left: 1px solid #ad8c38;
          .time-data {
            font-size: 15px;
            color: #ad8c38;
            margin-left: 1em;
          }
          .archive-cateogory {
            padding: 8px 14px;
            color: #fff;
            background-color: #ad8c38;
            margin-left: 10px;
          }
        }
      }
      .archive-title {
        font-size: 18px;
        color: #000;
        padding: 20px 0px;
        border-top: 1px solid #c4b379;
        border-bottom: 1px solid #c4b379;
      }
      .archive-content {
        margin-top: 40px;
        p {
          margin-bottom: 8px;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin-top: 24px;
          margin-bottom: 16px;
        }
        hr {
          border-top: 1px solid rgba(0, 0, 0, 0.6);
        }
        ul {
          margin-bottom: 8px;
          li {
            list-style-type: disc;
            list-style-position: inside;
          }
        }
      }
      .wp-pagenavi {
        > * {
          padding: 7px 15px !important;
          margin: 0 5px !important;
        }
        a {
          border: solid 1px #c4b379 !important;
          color: #c4b379 !important;
          font-size: 15px !important;
        }
        span {
          color: #b88f3f !important;
        }
      }
    }
    .left-nav {
      margin-bottom: 50px;
      h3 {
        font-size: 15px;
        color: #ad8c38;
        font-weight: bold;
      }
      a {
        font-size: 16px;
        color: #000;
        font-family: "Noto Serif JP", serif;
      }
      a:hover {
        text-decoration: none !important;
      }
    }
  }
}
