$second:#3e70bc;
$demisecond:#6287bc;
$secondhalf:#e7ecf4;
$third:#ef634d;

div.news-archive {
  section.sv {
    padding: 0 80px;
    position: relative;

    @media only screen and (max-width:767px) {
      padding: 0;
    }

    div.sv_img {
      img {
        margin-right: 0;
      }
    }

    div.sv_txt {
      position: absolute;
      left: 80px;
      bottom: 80px;
      z-index: 3;
      background: $second;
      padding: 50px;
      width: 480px;

      h2 {
        text-align: center;

        p {
          color: #fff;
          font-size: 3.2rem;

          span {
            color: #fff;
            border-bottom: 1px solid #fff;
            padding-bottom: 15px;
          }
        }

        p:first-of-type {
          margin-bottom: 15px;
        }
      }

      @media only screen and (max-width:1366px) {
        left: 40px;
        bottom: -100px;
        padding: 24px;
      }

      @media only screen and (max-width:767px) {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  section.news-wrap {
    max-width: 1230px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    @include paddingtop(100px, 150px, 50px);
    @include paddingbottom(100px, 100px, 50px);

    article.search-list {
      @include flex();
      width: 100%;
      max-width: 320px;
      margin-left: auto;
      padding-bottom: 50px;

      div.cat-list {
        @include basis(200px, 200px, 200px, 0, 0);

        form {
          width: 100%;
          position: relative;

          &::after {
            content: "▽";
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            color: #fff;
          }
        }

        select {
          width: 100%;
          background: $second;
          padding: 15px;
          color: #fff;
          font-size: 1.4rem;
          border-radius: 0;

        }
      }

      div.year-list {
        @include basis(100px, 100px, 100px, 0, 0);
        position: relative;

        &::after {
          content: "▽";
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          color: #fff;
        }
      }

      select {
        width: 100%;
        background: $demisecond;
        padding: 15px;
        color: #fff;
        font-size: 1.4rem;
        border-radius: 0;

      }
    }

    article.news-list {
      max-width: 1030px;
      padding: 0 15px;
      width: 100%;
      margin: 0 auto;

      main.news-content {

        div.single {

          @media only screen and (min-width:768px) {}

          a {
            @include flex(space-between, center, justify, center);
            width: 100%;
            padding: 50px 100px 50px 50px;
            border-bottom: 1px solid #ccc;
            transition: ease .3s all;
            position: relative;

            @media only screen and (max-width:767px) {
              padding: 30px 60px 30px 30px;
            }

            &::before {
              content: ">";
              font-size: 2.4rem;
              color: $second;
              font-weight: bold;
              right: 50px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%) scaleX(.6);

              @media only screen and (max-width:767px) {
                right: 30px;
              }

            }

            p.day {
              @include basis2(70px, 70px, 70px, 0, 0);
              color: $second;
              font-size: 1.3rem;
            }

            p.cat {
              @include basis2(140px, 140px, 140px, 0, 0);
              padding: 3px 15px;
              text-align: center;
              border-radius: 30px;
              background: $second;
              color: #fff;
              font-size: 1.3rem;

              @media only screen and (max-width:767px) {
                margin-left: 20px;
                margin-right: auto;
              }
            }

            p.title {
              @include basis3(calc(100% - 270px), calc(100% - 270px), 100%, 0, 8px);
              font-size: 1.5rem;
            }
          }

          a:hover {
            background: #eceff1;
          }
        }
      }
    }
  }
}

div.news-single {
  section.sv {
    padding: 0 80px;
    position: relative;

    @media only screen and (max-width:767px) {
      padding: 0;
    }

    div.sv_img {
      img {
        margin-right: 0;
      }
    }

    div.sv_txt {
      position: absolute;
      left: 80px;
      bottom: 80px;
      z-index: 3;
      background: $second;
      padding: 50px;
      width: 480px;

      h2 {
        text-align: center;

        p {
          color: #fff;
          font-size: 3.2rem;

          span {
            color: #fff;
            border-bottom: 1px solid #fff;
            padding-bottom: 15px;
          }
        }

        p:first-of-type {
          margin-bottom: 15px;
        }
      }

      @media only screen and (max-width:1366px) {
        left: 40px;
        bottom: -100px;
        padding: 24px;
      }

      @media only screen and (max-width:767px) {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  section.main-wrap {
    max-width: 1030px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    @include paddingtop(100px, 150px, 50px);
    @include paddingbottom(100px, 100px, 50px);

    article.title {
      padding-bottom: 30px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 30px;

      p.info {
        span.day {
          color: $second;
          padding-right: 20px;
        }

        span.cat {
          padding: 5px 16px;
          border-radius: 30px;
          color: #fff;
          background: $second;
        }
      }

      h2 {
        margin-top: 10px;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
    .content{
      font-size: 1.45rem;
    }
  }

  p.back {
    max-width: 360px;
    margin: 50px auto 0;

    a {
      display: block;
      padding: 15px;
      text-align: center;
      background: $third;
      color: #fff;
      border-radius: 3px;
    }
  }
}
