// pc
@media only screen and (min-width:1366px) {
  h3.topi_h3 {
    font-size: 24px;
    text-align: center;
    margin: 0 0 50px;
    color: #000;
  }
  ul.topi_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 377px;
    margin: 0 auto 45px;
    li{
      width:32%;
      font-size: 14px;
      text-align: center;
      background: #898989;
      margin: 0 2% 10px 0;
      a{
        color: #fff;
        display: block;
        font-size: 1.4rem;
        padding: 10px 0;
      }
    }
    li:nth-child(3n){
      margin: 0 0px 10px 0;
    }
    li:hover{
      opacity: 0.8;
    }
  }
  section.news-list {
    width: 640px;
    margin: 0 auto;
    border-top: 1px solid #000;
  	article.single {
      border-bottom:1px solid #000;
  		a {
        padding: 33px 0;
        display: block;
        position: relative;
  			div.img-wrap {
          overflow: hidden;
          margin: 0 0 20px;
  				p.date {
            float: left;
            margin: 0 37px 0 0;
            font-weight: bold;
            font-size: 18px;
            color: #000;
  					span.year {

  					}
  					span.md {
  					}
  				}
  				p.cat {
            background: #00a062;
            color: #fff;
            width: 63px;
            height: 25px;
            font-size: 12px;
            float: left;
            text-align: center;
            line-height: 25px;
  				}
  			}
  			p.title {
          font-weight: bold;
          font-size: 18px;
          color: #000;
  			}
        p.next{
          color: #797979;
          font-size: 14px;
          position: absolute;
          bottom: 14px;
          right: 0;
          i{
            margin: 0 0 0 20px;
            transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
          }
        }
  		}
  	}
    article:empty{
      display: none;
    }
  	article.single.dummy {
  	}
  }
  div.wp-pagenavi {
	span.pages {
	}
	span.current {
	}
	a.page.larger {
	}
	a.nextpostslink {
	}
}
}

// tb
@media only screen and (max-width:1365px) {
  h3.topi_h3 {
    font-size: 24px;
    text-align: center;
    margin: 0 0 40px;
    color: #000;
  }
  ul.topi_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto 40px;
    li{
      width:32%;
      font-size: 14px;
      text-align: center;
      background: #898989;
      margin: 0 2% 10px 0;
      a{
        color: #fff;
        display: block;
        font-size: 1.4rem;
        padding: 10px 0;
      }
    }
    li:nth-child(3n){
      margin: 0 0px 10px 0;
    }
  }
  section.news-list {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #000;
  	article.single {
      border-bottom:1px solid #000;
  		a {
        padding: 33px 0;
        display: block;
        position: relative;
  			div.img-wrap {
          overflow: hidden;
          margin: 0 0 20px;
  				p.date {
            float: left;
            margin: 0 37px 0 0;
            font-weight: bold;
            font-size: 18px;
            color: #000;
  					span.year {

  					}
  					span.md {
  					}
  				}
  				p.cat {
            background: #00a062;
            color: #fff;
            width: 63px;
            height: 25px;
            font-size: 12px;
            float: left;
            text-align: center;
            line-height: 25px;
  				}
  			}
  			p.title {
          font-weight: bold;
          font-size: 18px;
          color: #000;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
  			}
        p.next{
          color: #797979;
          font-size: 14px;
          position: absolute;
          bottom: 14px;
          right: 0;
          i{
            margin: 0 0 0 20px;
            transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
          }
        }
  		}
  	}
    article:empty{
      display: none;
    }
  	article.single.dummy {
  	}
  }
}

// sp
@media only screen and (max-width:767px) {
  ul.topi_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 40px;
    width: 100%;
  }
  section.news-list {
  	article.single {
  		a {
  			div.img-wrap {
  				p.date {
  					span.year {

  					}
  					span.md {
  					}
  				}
  				p.cat {
  				}
  			}
  			p.title {
  			}
        p.next{
          bottom: 5px;
          i{
            margin: 0 0 0 10px;
          }
        }
  		}
  	}
    article:empty{
      display: none;
    }
  	article.single.dummy {
  	}
  }
}
// topics_all
p.cat:empty{
  display: none;
}
