@charset "UTF-8";

@import "mixin";

$base:#3d3d3d;
$second:#3e70bc;
$third:#868686;

section.hum-button-in{
  transform-origin: center;
  transform:rotate(-90deg);
  div.bar01{transform: scaleY(.3);}
  div.bar02{transform: scaleY(.6);}
  div.bar03{transform: scaleY(1);}
}
div.wide-flex{
  @media only screen and (max-width: 767px){
    section.gloval-wrap-in,section.sns-wrap-in{
      transform: skewX(-10deg);
    }
  }
}

// ここまでspナビゲーション

nav.contact-anim,nav.sns-anim{
  a{
    transition: ease .3s all;
  }
  @media only screen and (min-width: 1366px){
  a:hover{
    transform-origin: center;
    transform: scale(1.8);
    color: $third;
  }
}
}

// グローバルナビiconアニメーション

nav.gloval-anim,nav.lang-anim{
  @media only screen and (min-width: 768px){
    a{
      display: inline-block;
      position: relative;
      transition: ease .2s all;
    }
    a::before{
      content:"";
      position: absolute;
      left: -5px;
      top: 0;
      width: 1px;
      height: 0;
      background: $base;
      transform-origin: center top;
      transition: ease .2s all;
    }
    a::after{
      content:"";
      position: absolute;
      right: -5px;
      bottom: 0;
      width: 1px;
      height: 0;
      background: $base;
      transform-origin: center bottom;
      transition: ease .2s all;
    }
    @media only screen and (min-width: 1366px){
    a:hover{
      letter-spacing: .4em;
    }
    a:hover::before{
      height: calc(100% + 10px);
    }
    a:hover::after{
      height: calc(100% + 10px);
    }
  }
  }
}

// グローバルナビテキストアニメーション

div.thumbs-anim{
  div.text-box{
    div{
      position: absolute;
      background: #fff;
      transition: linear .3s all .8s;
    }
    div.top{top: 15px;left: 15px;width:calc(100% - 30px);height: 1px;transform: scaleX(0);transform-origin: left;}
    div.bottom{bottom: 15px;right: 15px;width:calc(100% - 30px);height: 1px;transform: scaleX(0);transform-origin: right;}
    div.left{bottom: 15px;left: 15px;width:1px;height:calc(100% - 30px);transform: scaleY(0);transform-origin: bottom;}
    div.right{top: 15px;right: 15px;width:1px;height:calc(100% - 30px);transform: scaleY(0);transform-origin: top;}
    h3{
      transform: translateY(10px);
      opacity: 0;
      transition: ease .3s all .5s;
    }
    p.date{
      transform: translateY(10px);
      opacity: 0;
      transition: ease .3s all .6s;
    }
    p.job{
      transform: translateY(10px);
      opacity: 0;
      transition: ease .3s all .7s;
    }
  }
  p.thumbs{
    img{
      transition: ease .5s all;
      filter: none;
    }
  }
  @media only screen and (max-width: 767px){
    div.text-box{
      h3,p.date,p.job{
        transform: translateY(0);
        opacity: 1;
      }
    }
    p.thumbs{
      img{
        filter: brightness(50%) blur(1px);
      }
    }
  }
}
@media only screen and (min-width: 1366px){
div.thumbs-anim:hover{
  div.text-box{
    h3,p.date,p.job{
      transform: translateY(0);
      opacity: 1;
    }
    div.top,div.bottom{
      transform: scaleX(1);
    }
    div.left,div.right{
      transform: scaleY(1);
    }
  }
  p.thumbs{
    img{
      filter: brightness(20%) blur(3px);
      transform: scale(1.1) !important;
    }
  }
}
}
// トップページ実績アニメーション

p.more-anim{
  position: relative;
  overflow: hidden;
  a{
    transition: linear .3s all .3s;
  }
}
p.more-anim::before{
  position: absolute;
  content:"";
  width: 100%;
  height: 400%;
  background: #fff;
  transform: rotate(-30deg) rotateX(90deg);
  transform-origin: center;
  top: -150%;
  left: 0;
  right: 0;
  margin:auto;
  z-index: -3;
  transition: linear .3s all;
}
p.more-anim::after{
  content:"";
  position: absolute;
  background: $base;
  width: 100%;
  height: 100%;
  z-index: -5;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 1366px){
p.more:hover{
  a{
    color: $second !important;
    letter-spacing: .4em !important;
  }
}
p.more:hover::before{
  transform: rotate(-30deg) rotateX(0);
}
}
// moreアニメーション

div.service-anim{
  a{
    overflow: hidden;
  }
  div.text-box{
    > *{
      transition: ease .3s all .2s;
    }
    svg{
      transform: scale(1);
      transition: ease .3s all .5s;
    }
    .st0{
      transition: ease .3s all .2s;
    }
  }
  p.anim-back{
    transform: rotateX(-90deg) skew(-20deg,0);
    transform-origin: center;
    transition: ease .5s all;
  }
}
@media only screen and (min-width: 1366px){
div.service-anim:hover{
  div.text-box{
    > *{
      color: $base !important;
    }
    h3{
      letter-spacing: .4em !important;
    }
    svg{
      transform: scale(1.5);
    }
    .st0{
      fill:$base !important;
    }
  }
  p.anim-back{
    transform: rotateX(0) skew(0,0);
  }
}
}
// トップページサービスアニメーション

p.contact-button-anim{
  position: relative;
  overflow: hidden;
  a{
    position: relative;
    z-index: 5;
    transition: ease .3s all .3s;
  }
}
p.contact-button-anim::before{
  content: "";
  background: $base;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: center;
  transform:scaleX(0);
  transition: ease .3s all;
}
@media only screen and (min-width: 1366px){
p.contact-button-anim:hover{
  a{
    color: #fff;
    letter-spacing: .3em;
  }
}
p.contact-button-anim:hover::before{
  transform: scaleX(1);
}
}
//　フッターコンタクトボタンアニメーション

p.thumbs-anim2{
  position: relative;
  img{
    transition: ease .5s all;
    filter: none;
    @media only screen and (max-width: 767px){
      filter: brightness(50%);
    }
  }
}
p.thumbs-anim2::before{
  content:"+ VIEW MORE";
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  @include flex(center,center,center,center);
  font-size: 1.8rem;
  transform: rotateX(90deg) skew(-20deg,0);
  transition: ease .3s transform .5s,ease .3s letter-spacing .8s;
  z-index: 5;
  @media only screen and (max-width: 767px){
    transform:rotateX(0) skew(0,0);
    transition: ease .3s all;
  }
}
@media only screen and (min-width: 1366px){
p.thumbs-anim2:hover{
  img{
    filter: brightness(30%);
  }
}
p.thumbs-anim2:hover::before{
  transform:rotateX(0) skew(0,0);
  letter-spacing: .2em;
}
}
