@charset "UTF-8";
@import "mixin.scss";
$base: #2d2e2e;
$demibase: #6a6a6a;
$second: #c4b379;
$demisecond: #6287bc;
$secondhalf: #e7ecf4;
$third: #f4ede6;
$fourth: #f8f8f8;
$fifth: #d1e8c9;
$sixth: #e1edf1;
$eighth: #ba9964;
$nineth: #87bf9e;
$tenth: #ba9964;
$eleventh: #dde9ed;
$twelveth: #abaaaa;

body {
    width: 100%;
    font-family: "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    position: relative;
    opacity: 0;
    transition: ease 1s opacity;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $base;
    transition-property: all;
    transition: 0.3s linear;
}


/*a[href^="tel"]{
  display: inline-block;
  color: $base;
}*/

img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
    height: auto !important;
}

svg {
    max-width: 100%;
    max-height: 100%;
}

p,
a,
li,
dl,
dt,
dd,
li {
    @include fontsize(1.4rem, 1.4rem, 1.4rem);
    color: $base;
    font-feature-settings: "palt" 1;
    line-height: 1.5;

    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        letter-spacing: -0.02em;
    }
}

h2,
h3,
h4 {
    font-weight: normal;
    color: $base;

    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        letter-spacing: -0.02em;
    }
}

.wrap128 {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 30px;

    @media only screen and (max-width: 1365px) {
        max-width: 750px;
    }

    @media only screen and (max-width: 767px) {
        max-width: 480px;
    }
}

.wrap106 {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 30px;

    @media only screen and (max-width: 1365px) {
        max-width: 750px;
    }

    @media only screen and (max-width: 767px) {
        max-width: 480px;
        padding: 0 15px;
    }
}

.wrap12 {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;

    @media only screen and (max-width: 1365px) {
        max-width: 750px;
    }

    @media only screen and (max-width: 767px) {
        max-width: 480px;
        padding: 0 15px;
    }
}

.wrap10 {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 30px;

    @media only screen and (max-width: 1365px) {
        max-width: 750px;
    }

    @media only screen and (max-width: 767px) {
        max-width: 480px;
        padding: 0 15px;
    }
}

.wrap75 {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 30px;

    @media only screen and (max-width: 1365px) {
        max-width: 750px;
    }

    @media only screen and (max-width: 767px) {
        max-width: 480px;
        padding: 0 15px;
    }
}

.fadein {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 0.5s ease-out;
}

.fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}

.wp-pagenavi {
    text-align: center;
    @include margintop(50px, 30px, 30px);
    position: relative;
    z-index: 10;

    >* {
        margin: 0 5px;
        padding: 3px 8px !important;
    }

    span {
        font-size: 1.4rem;
        display: inline-block;
        color: #000;
        border: none !important;
        width: 30px;
        height: 30px;
        line-height: 23px;
    }

    span.pages {
        display: none;
    }

    a {
        font-size: 1.4rem;
        display: inline-block;
        color: $second;
        border: none !important;

        &.page {
            opacity: 0.6;
            color: #000;
        }
    }
}

@import "header";
@import "index";
@import "footer";
@import "news";
@import "contact";
@import "sidebar";
@import "slick_1";
@import "news_list";
@import "recruit";
@import "flow";
@import "medicalcontent";
@import "dayoperation";
@import "reserved";
@import "under_page";
@import "facility";
@import "page404";
@import "medicalcheck";
@media only screen and (min-width: 1366px) {
    .tab {
        display: none !important;
    }
}

@media only screen and (max-width: 1365px) {
    .pc2 {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) {
    .sp {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .pc {
        display: none !important;
    }
}

//com pc
//com_h2
div.com_h2 {
    background: $second;

    @media only screen and (min-width: 1366px) {
        padding: 65px 0;
    }

    @media only screen and (max-width: 1365px) {
        margin: 20px 0 0;
        padding: 40px 0;
    }

    @media only screen and (max-width: 767px) {
        padding: 20px 0;
    }

    h2 {
        text-align: center;

        p {
            font-weight: bold;
            color: #fff;

            @media only screen and (min-width: 1366px) {
                font-size: 40px;
                margin: 0 0 20px;
            }

            // tb
            @media only screen and (max-width: 1365px) {
                font-size: 5vw;
            }
        }

        span {
            color: #fff;

            @media only screen and (min-width: 1366px) {
                font-size: 14px;
            }

            @media only screen and (max-width: 1365px) {
                font-size: 3vw;
            }
        }
    }
}

//com_cont
.com_cont {
    margin: 0 auto;
    box-sizing: border-box;

    @media only screen and (min-width: 1366px) {
        padding: 70px 35px;
        width: 960px;
    }

    @media only screen and (max-width: 1365px) {
        width: 96%;
        padding: 150px 0 100px;
    }

    @media only screen and (max-width: 767px) {
        padding: 50px 0;
    }
}